html, body {
  height: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
}
body, div, form, h1, h2, h3, nav, table, td {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.main-background {
  width: 80%;
  margin: 0 auto 0;
}
.main-head {
  height: 100px;
  padding-top: 50px;
  border: 1px solid rgb(230, 230, 230);
}
.main-head-skin {
  width: 50%;
  height: 40%;
  margin: 0 auto 0;
}
#main-header {
  text-align: center;
}
.main-body-skin {
  position: relative;
  clear: both;
}
.main-body-left {
  float: left;
  border: 1px solid rgb(230, 230, 230);
}
.body-left-skin {
  width: 250px;
}
.left-skin-login {
  height: 300px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.left-skin-top {
  height: 25%;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.user-info {
  width: 80%;
  height: 100%;
  margin: 0 auto 0;
}
.user-info p {
  font-size: 14px;
  text-align: center;
}
.left-skin-center {
  height: 50%;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.permission {
  float: left;
  text-align: center;
  width: 50%;
  height: 100%;
  border-right: 1px solid rgb(230, 230, 230);
}
.profile {
  float: right;
  width: 47%;
  height: 100%;
}
.profile-form {
  width: 80%;
  height: 100%;
  margin: 0 auto 0;
  padding-top: 30%;
}
.profile-form input {
  width: 100%;
  height: 50%;
  font-size: 1.4rem;
}
.left-skin-bottom {
  height: 25%;
}
.post {
  width: 100%;
  height: 100%;
}
.post-form {
  height: 100%;
}
.post-form input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}
.nav-list {
  padding-left: 0;
  list-style: none;
}
.list-tit {
  font-size: 16px;
  padding-left: 20px;
}
.list-txt {
  font-size: 14px;
  padding-left: 20px;/*들여쓰기 선택시 padding-left 값 + 45px*/
}
.main-body-profile {
  margin: 0 0 0 250px;
  border: 1px solid rgb(230, 230, 230);
}
.body-profile-skin {
  width: 95%;
  margin: 14px;
  position: relative;
}
.profile-head {
  width: 100%;
  height: 150px;
  border: 1px solid rgb(230, 230, 230);
}
.head-left {
  width: 39.8%;
  height: 100%;
  float: left;
  border-right: 1px solid rgb(230, 230, 230);
}
.head-left p {
  margin-left: 50px;
}
.head-right {
  width: 60%;
  height: 100%;
  float: left;
}
.head-right div {
  width: 100%;
  height: 32.3%;
  border: 1px solid rgb(230, 230, 230);
  position: relative;
}
.head-right div a {
  position: absolute;
  left: 250px;
  top: 10px;
}
.profile-body {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.content-head {
  height: 25px;
  padding: 11px 3px 0 0;
  font-size: 14px;
  font-weight: bold;
}
.content-body {
  width: 100%;
}
.content-body table {
  width: 100%;
  border-collapse: collapse;
}
.tit-head {
  background-color: rgb(230, 230, 230);
}
.post-list-tit td {
  min-height: 14px;
  padding: 9px 0 7px 0;
  font-size: 12px;
}
.body-line {
  height: 3px !important;
  background-color: rgb(230, 230, 230);
}
.body-line2 {
  height: 1px !important;
  background-color: rgb(230, 230, 230);
}
