<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_check.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="change-main">
      <div class="change-head">
        <div class="main-tit">
          <h1>CJU DBLaB</h1>
        </div>
        <div class="sub-tit">
          <h2>비밀번호 변경</h2>
        </div>
      </div>
      <div class="change-body">
        <div class="change-body-main">
          <div class="inpInfo">
            <dl class="item_info">
              <dt>
                <label for="inpEmail">비밀번호</label>
              </dt>
              <dd>
                <div class="change-form">
                  <input type="email" class="inp" id="PW1" name="password" placeholder="현재 비밀번호를 입력해주세요.">
                </div>
              </dd>
              <p class="txt_message" style="display:none;"></p>
            </dl>
            <dl class="item_info">
              <dt>
                <label for="inpEmail">비밀번호</label>
              </dt>
              <dd>
                <div class="change-form">
                  <input type="password" class="inp" id="PW2" name="newPw" placeholder="새 비밀번호를 입력해주세요.(8자 이상)">
                </div>
              </dd>
            </dl>
            <dl class="item_info">
              <dt>
                <label for="inpAuth">재확인</label>
              </dt>
              <dd>
                <div class="change-form">
                  <input type="password" class="inp" id="PW3" name="newPwCheck" placeholder="새 비밀번호 확인.(8자 이상)">
                </div>
              </dd>
              <p class="txt_message" style="display:none;"></p>
            </dl>
          </div>
          <div class="submitBtn">
            <input type="button" name="" value="변경" onclick="change()">
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function change(){
        console.log(1);
        var pw_value1 = document.querySelector('#PW1').value;
        var pw_value2 = document.querySelector('#PW2').value;
        var pw_value3 = document.querySelector('#PW3').value;
        if(pw_value2.length < 8){
          document.querySelector('.txt_message').style.color="rgb(220, 50, 30)";
          document.querySelector('.txt_message').innerHTML = "새 비밀번호를 8자 이상으로 입력해주세요";
        }
        else if(pw_value2 == ""){
          document.querySelector('.txt_message').style.color="rgb(220, 50, 30)";
          document.querySelector('.txt_message').innerHTML = "새 비밀번호 확인을 입력해주세요";
        }
        else if(pw_value2 != pw_value3){
          document.querySelector('.txt_message').style.color="rgb(220, 50, 30)";
          document.querySelector('.txt_message').innerHTML = "비밀번호가 일치하지 않습니다. 다시 입력해주세요.";
        }
        else if(pw_value2 == pw_value3 && pw_value1 != "" && pw_value2 != "" && pw_value3 != ""){
          $.ajax({
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            url: '/change_pw',
            traditional: 'true',
            data: JSON.stringify({"value":"change_pw", "PW": pw_value1, "new_pw": pw_value2}),
            dataType: 'json',
            success: function(data){
              alert("비밀번호 변경이 성공했습니다.");
              window.close();
            }
          });
        }
        else {
          document.querySelector('.txt_message').innerHTML = "문제 발생";
        }
      }
    </script>
  </body>
</html>
