<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
    <link rel="stylesheet" href="css/login_ex_3.css">
  </head>
  <body>
    <div id="loginWrap">
      <div id="loginHead">
        <div class="inner_head">
          <h1>
            <a href="#">메인 페이지 제목</a>
          </h1>
        </div>
      </div>
      <hr class="hide">
      <div id="loginBody" class="">
        <div class="wrap_tit">
          <h3 class="tit_login">로그인</h3>
        </div>
        <form class="" action="index.html" method="post">
          <div class="item_info">
            <label for="loginId" class="lab_info">아이디</label>
            <input type="text" class="inp_info" id="loginId" name="loginId" placeholder="아이디" autocomplete="off" maxlength="15">
          </div>
          <div class="item_info">
            <label for="loginPW" class="lab_info">비밀번호</label>
            <input type="password" class="inp_info" id="loginPW" name="loginPW" placeholder="비밀번호" maxlength="32">
          </div>
          <div class="sub_btn">
            <input type="submit" class="login_btn" name="" value="로그인">
          </div>
          <a href="register_ex_3.html" id="register-link">회원가입</a>
          <a href="#" id="search-id-pw">아이디/패스워드 찾기</a>
        </form>
    </div>
  </body>
</html>
