<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main 페이지</title>
    <link rel="stylesheet" href="css/post_ex_3.css">
  </head>
  <body>
    <div class="main-background">
      <div class="main-head">
        <div class="main-head-skin">
          <div></div>
          <h1 id="main-header"><a href="#">메인 페이지 제목</a></h1>
        </div>
      </div>
      <div class="main-body">
        <div class="main-body-skin">
          <div class="main-spacing"></div>
          <div class="main-body-left">
            <div class="body-left-skin">
              <div class="left-skin-login">
                <div class="left-skin-top">
                  <div class="user-info">
                    <p>Username</p>
                    <p>user register day</p>
                  </div>
                </div>
                <div class="left-skin-center">
                  <div class="permission">
                    <p>User Permission</p>
                    <p><a herf="#">관리</a></p>
                  </div>
                  <div class="profile">
                    <form class="profile-form" action="#" method="post">
                      <input type="submit" name="" value="프로필">
                    </form>
                  </div>
                </div>
                <div class="left-skin-bottom">
                  <div class="post">
                    <form class="post-form" action="#" method="post">
                      <input type="submit" name="" value="글쓰기">
                    </form>
                  </div>
                </div>
              </div>
              <div class="left-skin-nav">
                <nav class="nav-contents">
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리1 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리1</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리2 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리2</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리3 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리3</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리4 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리4</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리5 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리5</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="main-body-post">
            <div class="post-editor">
              <h3>Post Editor</h3>
              <ul class="editor-head">
                <li>
                  <label class="item-label" for="board-type">게시판</label>
                  <div class="board-item">
                    <select class="board-type-select" name="" id="board-type">
                      <option value="-1">게시판 선택</option>
                    </select>
                    <select class="board-subType-select" name="">
                      <option value="">말머리 선택</option>
                    </select>
                  </div>
                </li>
                <li>
                  <label class="item-label" for="inp_tit">제목</label>
                  <div class="board-item">
                    <input type="text" id="inp-tit" name="postTit" placeholder="게시글 제목을 입력하세요">
                  </div>
                </li>
                <li id="file-attach-menu">
                  <label class="item-label">파일첨부</label>
                  <div class="board-item file">
                    <ul>
                      <li class="first">
                        <a href="#">
                          <strong>사진</strong>
                        </a>
                      </li>
                      <li class="">
                        <a href="#">
                          <strong>파일</strong>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>링크</strong>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="post-textarea">
                <textarea name="name" rows="50" cols="130"></textarea>
              </div>
              <div class="storage-btn">
                <a href="#">임시저장</a>
                <a href="#">미리보기</a>
                <a href="#">확인</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
