<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main 페이지</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_list.css') }}">
  </head>
  <body>
    <div class="main-background">
      <div class="main-head">
        <div class="main-head-skin">
          <div></div>
          <h1 id="main-header"><a href="/">CJU DBLaB</a></h1>
        </div>
      </div>
      <div class="main-body">
        <div class="main-body-skin">
          <div class="main-spacing"></div>
          <div class="main-body-left">
            <div class="body-left-skin">
              <div class="left-skin-login">
              {% if session['username'] %}
                <div class="left-skin-top">
                  <div class="user-info">
                    <p>{{session['username']}}</p>
                  </div>
                </div>
                <div class="left-skin-center">
                  <div class="permission">
                    <p style="display:none">User Permission</p>
                    <p style="display:none"><a herf="#">관리</a></p>
                    <div class="logout-form">
                      <div id="logout-btn">
                        <a href="#">Log Out</a>
                      </div>
                    </div>
                  </div>
                  <div class="profile">
                    <div class="profile-form">
                      <div id="profile-btn">
                        <span><a href="/profile">프로필</a></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="left-skin-bottom">
                  <div class="post">
                    <div class="post-form">
                      <div id="post-btn">
                        <a href="/post">글쓰기</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="left-skin-top"></div>
                <div class="left-skin-center">
                  <div class="login-form">
                    <div id="login-btn">
                      <a href="/login">login</a>
                    </div>
                  </div>
                </div>
                <div class="left-skin-bottom"></div>
              {% endif %}
              </div>
              <div class="left-skin-nav">
                <nav class="nav-contents">
                {% for x in category %}
                {# 카테고리 제목 데이터를 받아 category[0]에다 데잍터 넣기 #}
                  <ul class="nav-list">
                    <li class="list-txt"><a href="/post_list?category={{x[2]}}">{{x[0]}}</a></li>
                  </ul>
                {% endfor %}
                </nav>
              </div>
            </div>
          </div>
          <div class="main-body-post">
            <div class="body-post-skin">
              <div class="post-skin-list">
                <div class="post-tit">
                  <div class=""></div>
                  <h3>
                   <a href="/post_list">전체 글 보기</a>
                  </h3>
                </div>
                <div class="post-txt">
                  <table class="post-table">
                    <tr class="post-txt-rol" align="center">
                      <td class="post=txt-icon">■</td>
                      <td class="post-txt-tit"><a href="#">제목</a></td>
                      <td class="post-txt-wr"><a href="#">작성자</a></td>
                      <td class="post-txt-day">작성일</td>
                      <td class="post-txt-view">조회수</td>
                    </tr>
                    {% for postData in postList %}
                    <tr>
                      <td colspan="5" class="post-line"></td>
                    </tr>
                    <tr class="post-txt-rol" align="center">
                      <td class="post=txt-icon">■</td>
                      <td class="post-txt-tit" id="post_tit1"><a href="/read_post/{{postData[0]}}">{{postData[1]}}</a></td>
                      <td class="post-txt-wr" id="post_wr1"><a href="/profile/{{postData[2]}}">{{postData[2]}}</a></td>
                      <td class="post-txt-day" id="post_day1">{{postData[3]}}</td>
                      <td class="post-txt-view" id="post_view1">{{postData[4]}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td colspan="5" class="post-line"></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
