<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main 페이지</title>
    <link rel="stylesheet" href="css/profile_ex_3.css">
  </head>
  <body>
    <div class="main-background">
      <div class="main-head">
        <div class="main-head-skin">
          <div></div>
          <h1 id="main-header"><a href="#">메인 페이지 제목</a></h1>
        </div>
      </div>
      <div class="main-body">
        <div class="main-body-skin">
          <div class="main-spacing"></div>
          <div class="main-body-left">
            <div class="body-left-skin">
              <div class="left-skin-login">
                <div class="left-skin-top">
                  <div class="user-info">
                    <p>Username</p>
                    <p>user register day</p>
                  </div>
                </div>
                <div class="left-skin-center">
                  <div class="permission">
                    <p>User Permission</p>
                    <p><a herf="#">관리</a></p>
                  </div>
                  <div class="profile">
                    <form class="profile-form" action="#" method="post">
                      <input type="submit" name="" value="프로필">
                    </form>
                  </div>
                </div>
                <div class="left-skin-bottom">
                  <div class="post">
                    <form class="post-form" action="post_ex_3.html" method="post">
                      <input type="submit" name="" value="글쓰기">
                    </form>
                  </div>
                </div>
              </div>
              <div class="left-skin-nav">
                <nav class="nav-contents">
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리1 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리1</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리2 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리2</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리3 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리3</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리4 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리4</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리5 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리5</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="main-body-profile">
            <div class="body-profile-skin">
              <div class="profile-head">
                <div class="head-left">
                  <p>Username</p>
                  <p>Permission</p>
                  <p>Since</p>
                </div>
                <div class="head-right">
                  <div class="right-head">
                    <a href="#">Email 변경</a>
                  </div>
                  <div class="right-center">
                    <a href="#">닉네임 변경</a>
                  </div>
                  <div class="right-bottom">
                    <a href="#">비밀번호 변경</a>
                  </div>
                </div>
              </div>
              <div class="profile-body">
                <div class="profile-body-content">
                  <div class="content-head">
                    <span>게시글</span>
                  </div>
                  <div class="content-body">
                    <table id="post-list">
                      <tr>
                        <td colspan="4" class="body-line"></td>
                      </tr>
                      <tr class="post-list-tit tit-head">
                        <td></td>
                        <td></td>
                        <td>제목</td>
                        <td>작성일</td>
                      </tr>
                      <tr>
                        <td colspan="4" class="body-line"></td>
                      </tr>
                      <tr class="post-list-tit">
                        <td class="select_box">
                          <input type="checkbox" name="checkbox" id="checkbox" value="num">
                        </td>
                        <td class="post_num">
                          <span class="">num</span>
                        </td>
                        <td class="post-tit">
                          <span><a href="#">제목</a></span>
                        </td>
                        <td class="post-day">
                          <span>작성일</span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4" class="body-line2"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
