<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main 페이지</title>
    <link rel="stylesheet" href="css/read_post_ex_3.css">
  </head>
  <body>
    <div class="main-background">
      <div class="main-head">
        <div class="main-head-skin">
          <div></div>
          <h1 id="main-header"><a href="#">메인 페이지 제목</a></h1>
        </div>
      </div>
      <div class="main-body">
        <div class="main-body-skin">
          <div class="main-spacing"></div>
          <div class="main-body-left">
            <div class="body-left-skin">
              <div class="left-skin-login">
                <div class="left-skin-top">
                  <div class="user-info">
                    <p>Username</p>
                    <p>user register day</p>
                  </div>
                </div>
                <div class="left-skin-center">
                  <div class="permission">
                    <p>User Permission</p>
                    <p><a herf="#">관리</a></p>
                  </div>
                  <div class="profile">
                    <form class="profile-form" action="#" method="post">
                      <input type="submit" name="" value="프로필">
                    </form>
                  </div>
                </div>
                <div class="left-skin-bottom">
                  <div class="post">
                    <form class="post-form" action="post_ex_3.html" method="post">
                      <input type="submit" name="" value="글쓰기">
                    </form>
                  </div>
                </div>
              </div>
              <div class="left-skin-nav">
                <nav class="nav-contents">
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리1 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리1</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리2 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리2</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리3 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리3</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리4 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리4</a></li>
                  </ul>
                  <ul class="nav-list">
                    <h2 class="list-tit"><a herf="#">카테고리5 제목</a></h2>
                    <li class="list-txt"><a herf="#">카테고리5</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="main-body-post">
            <div class="body-post-skin">
              <div class="post-info info">
                <div class="post-info-left">
                  <span class="title">제목</span>
                  <span class="separate">|</span>
                  <span class="board">게시판</span>
                </div>
                <div class="post-info-right">
                  <span class="day">작성일</span>
                  <span class="separate">|</span>
                  <span class="modify">수정</span>
                  <span class="separate">|</span>
                  <span class="del">삭제</span>
                </div>
              </div>
              <div class="border-box-line-dashed"></div>
              <div class="post-sub-info info">
                <div class="sub-info-left">
                  <span id="writer">작성자</span>
                </div>
                <div class="sub-info-right">

                </div>
              </div>
              <div class="v-10"></div>
              <div class="post-textarea">
                작성글 내용
              </div>
              <div class="v-35"></div>
              <div class="post-viewer info">
                <span class="viewer">댓글: number</span>
              </div>
              <div class="post-comment">
                <ul class="cmlist" id="cm-list">
                  <li class="cmlist-info">
                    <div class="cmUser-info">
                      <div class="info-left">
                        <span class="icon"></span>
                        <span class="username"></span>
                        <span class="comment-day"></span>
                      </div>
                      <div class="info-right">
                        <span class="modify"></span>
                        <span class="del"></span>
                      </div>
                    </div>
                  </li>
                  <li class="comment-box-dashed"></li>
                </ul>
                <div class="comment-box">
                  <div class="comment-area">
                    <textarea name="name" rows="8" cols="117"></textarea>
                    <button type="button" name="button">등록</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
